.center {
    text-align: center!important;
}

.cursor-pointer {
    cursor: pointer;
}

.spinner {
    position: absolute;
    z-index: 99;
    right: 40%;
    top: 40%
}

:host >>> .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #3281ff;
    }
    40% {
        stroke: #ffd736;
    }
    80% {
        stroke: #ff3737;
    }
}

@keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}