:host >>> .p-button {
    height: 2rem;
    font-size: 0.9rem;
    background-color: rgba(254, 204, 0, 0.558)!important;
    color: #495057!important;
    border-color: #4950577c!important;
}

:host >>> .p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #ffc400, 0 1px 2px 0 black!important;
}

:host >>> .p-toolbar {
    padding: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.spinner {
    position: absolute;
    z-index: 99;
    right: 50%;
    top: 20%
}

:host >>> .p-dropdown {
    width: 100%;
}

:host >>> .p-chips-multiple-container{
    width: 100%;
}

:host >>> p-selectButton .p-ripple {
    width: 33.3%;
}

.report {
    display: flex;
    font-weight: bold;
    gap: 1rem;
}

.total {
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    align-content: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

.end {
    text-align: end!important;
}

.padding-left-3 {
    padding-left: 3rem;
}

.end button{
    margin-right: 0.5rem;
}