<div class="container">
    <p-toolbar>
        <div class = "p-toolbar-group-left filter">
                <p-calendar 
                    [(ngModel)]="rangeDates" 
                    selectionMode="range" 
                    [readonlyInput]="true" 
                    inputId="range" 
                    dateFormat="dd M yy"
                    [showIcon]="false"
                    placeholder="Data range"
                    [showClear]="true">
                </p-calendar>
                <p-multiSelect 
                    [options]="tags" 
                    [(ngModel)]="selectedTags" 
                    optionLabel="tagName"
                    [filter]="false"
                    [showClear]="true"
                    placeholder="Tags">
                </p-multiSelect>
            <p-button label="Search" (onClick)="getTransactionsWithDatepicker()"></p-button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </div>
        <div class="p-toolbar-group-right">
            <button pButton pRipple icon="pi pi-plus" class="p-button-info" (click)="addNewTransaction()"></button>
        </div>
    </p-toolbar>
    <p-table #dt 
        [loading]="loading" 
        [value]="transactions" 
        [scrollable]="true"
        scrollHeight="flex">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="transactionDate" style="width:15%" headers="Date">Date<p-sortIcon field="transactionDate"></p-sortIcon></th>
                <th pSortableColumn="destination.name" style="width:25%" headers="Destination">Destination<p-sortIcon field="destination.name"></p-sortIcon></th>
                <th pSortableColumn="transactionType.type" style="width:20%" headers="Type">Type<p-sortIcon field="transactionType.type"></p-sortIcon></th>
                <th style="width:30%" headers="tags">Tags</th>
                <th pSortableColumn="total" style="width:10%" class="end" headers="Total">Sum<p-sortIcon field="total"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-t>
            <tr (click)="showModalDialog(t)">
                <td>{{t.transactionDate | truncate: [20] | date: 'longDate'}}</td>
                <td>{{t.destination.name | truncate:[45]}}</td>
                <td>{{t.transactionType.type | truncate:[25]}}</td>
                <td>
                    <p-tag class = "margin-right-02" *ngFor="let tag of t.tags" value="{{tag.tagName}}"></p-tag>
                </td>
                <td>
                    <div class="total" [ngClass] = "(+t.total >= 0)?'green':'red'">
                        <div [hidden] = "+t.total < 0">+</div>
                        <div>{{t.total | currency: 'EUR'}}</div>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class = "report">
                <div class = "payment">
                    Payments: {{transactions.length}}
                </div>
                <div class="total" [ngClass] = "summa() >  0?'green':'red'">
                    Total: {{summa() | currency: 'EUR'}}
                </div>
                <div class="total green">
                    Income: {{income() | currency: 'EUR'}}
                </div>
                <div class="total red">
                    Payout: {{payout() | currency: 'EUR'}}
                </div>
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog
    header="Transaction details:"
    [(visible)]="transactionDialog"
    [modal]="true"
    [style]="{width: '70%'}"
    [dismissableMask]="true">
    <p-blockUI [blocked]="blockedDocument" [baseZIndex]="90"></p-blockUI>
    <p-progressSpinner class = "spinner" styleClass="custom-spinner" [hidden]="!blockedDocument" strokeWidth="5"></p-progressSpinner>
    <div class="dialogContainer">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
            <p-calendar dateFormat="dd M yy" [(ngModel)]="transaction.transactionDate" *ngIf = "transaction.id.length === 0"></p-calendar>
            <input type="text" pInputText value="{{transaction.transactionDate}}" *ngIf = "transaction.id.length !== 0" disabled placeholder="Date">
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-bookmark"></i></span>
            <input type="text" pInputText [(ngModel)]="transaction.transactionType.type" disabled placeholder="Type">
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user-plus"></i></span>
            <input type="text" pInputText [(ngModel)]="transaction.destination.name" placeholder="Destination" disabled = "{{transaction.id.length !== 0}}">
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user-minus"></i></span>
            <input type="text" pInputText [(ngModel)]="transaction.sender.name" placeholder="Sender" disabled = "{{transaction.id.length !== 0}}">
        </div>
        <div class="p-inputgroup green">
            <span class="p-inputgroup-addon"><i class="pi pi-info-circle"></i></span>
            <textarea pInputTextarea [(ngModel)]="transaction.transactionInfo.info" [autoResize]="true" placeholder="Info"></textarea>
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-euro"></i></span>
            <p-inputNumber [(ngModel)]="transaction.total" mode="currency" placeholder="Total" currency="EUR" locale="de-DE" [disabled] = "transaction.id.length !== 0"></p-inputNumber>
        </div>
        <div class="autoComplete green">
            <span class="p-fluid">
                <p-autoComplete
                    [(ngModel)]="transaction.tags"
                    [suggestions]="tags"
                    (completeMethod)="filterTags($event)"
                    field="tagName"
                    [multiple]="true"
                    placeholder="Tags">
                </p-autoComplete>
            </span>
        </div>
        <div class="save">
            <p-button icon="pi pi-trash" (click)="remove(transaction)" label="Remove" styleClass="p-button-text" *ngIf = 'isRemove()'></p-button>
            <p-button icon="pi pi-save" (click)="save()" label="Save" styleClass="p-button-text"></p-button>
        </div>
    </div>
</p-dialog>